*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

height:100vh;
overflow:hidden;

display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(180deg,#06142f,#133b73,#ff9a9e);

color:white;

}

/* Game */

#game{

text-align:center;

width:100%;

}

h1{

font-size:55px;

text-shadow:0 0 25px hotpink;

margin-bottom:10px;

}

p{

font-size:22px;

margin-bottom:10px;

}

h2{

margin-bottom:20px;

}

#playArea{

position:relative;

width:900px;

height:500px;

margin:auto;

overflow:hidden;

border-radius:20px;

border:3px solid rgba(255,255,255,.3);

background:rgba(255,255,255,.08);

backdrop-filter:blur(12px);

}

/* Stars */

#playArea::before{

content:"";

position:absolute;

width:100%;
height:100%;

background-image:

radial-gradient(white 1px,transparent 1px);

background-size:40px 40px;

opacity:.4;

animation:twinkle 3s infinite;

}

@keyframes twinkle{

50%{

opacity:.1;

}

}

/* Falling Hearts */

.heart{

position:absolute;

top:-60px;

font-size:42px;

cursor:pointer;

animation:fall linear forwards;

user-select:none;

filter:drop-shadow(0 0 15px crimson);

z-index:100;

}

@keyframes fall{

0%{

top:-60px;

transform:scale(.8);

}

100%{

top:540px;

transform:scale(1.3);

}

}

/* Button */

#giftBtn{

display:none;

margin-top:25px;

padding:16px 45px;

font-size:22px;

border:none;

border-radius:50px;

cursor:pointer;

background:#ff4f81;

color:white;

box-shadow:0 0 25px hotpink;

transition:.3s;

}

#giftBtn:hover{

transform:scale(1.08);

}

/* Gift Screen */

#giftBox{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

display:none;

justify-content:center;
align-items:center;

background:linear-gradient(135deg,#ff9a9e,#fad0c4);

z-index:9999;

}

.giftContent{

text-align:center;

max-width:700px;

padding:40px;

}

.giftContent h1{

font-size:60px;

margin-bottom:30px;

}

.giftContent p{

font-size:28px;

line-height:1.8;

margin-bottom:40px;

}

#restart{

padding:18px 45px;

font-size:22px;

border:none;

border-radius:40px;

cursor:pointer;

background:white;

color:#ff4f81;

font-weight:bold;

transition:.3s;

}

#restart:hover{

transform:scale(1.08);

}

/* Mobile */

@media(max-width:950px){

#playArea{

width:95vw;

height:65vh;

}

h1{

font-size:34px;

}

p{

font-size:18px;

}

h2{

font-size:22px;

}

}